.barre-chargement{
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}
.barre{
    width: 0%;
    height: 100%;
    background-color: #007bff;
    transition: width 2s ease-in-out;
}

*{
    font-family: 'Raleway', sans-serif;
}
.menu{
    width: 100%;

}
.menu-entete{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 69%;
    height: 36px;
    object-fit: contain;
    padding-left: 50px;
}
ul{
    display: flex;
    list-style-type: none;
    margin-top: 5px;
}

.navi{
    padding-left: 50px;
    padding-right: 30px;
    color: unset;
}
.navi:hover{
    border-top: 3px solid #0a1958;
    
}
.menu-title{
    padding-left: 50px;
}
.info-value{
    font-weight: 700;
    height: 34px;
    font-size: 16px;
}
.infos{
    display: flex;
    padding-left: 50px;
}
.localisation{
    width: 3%;
    height: 40px;
    background-color: #575a5e2c;
}
.fa-location-dot{
    color: rgb(32, 32, 32);
    padding: 13px;
}
.recherche{
    background-color:hsl(234, 66%, 29%);
    border-radius: 5px;
    width: 100%;
    height: 40px;
}
.input{
    width: 80%;
    height: 100%;
    font-size: 15px;
}
.filtres{
    display: flex;
    padding-left: 50px;
    padding-top: 50px;
    align-items: center;
}
.fil-space{
    padding-left: 15px;
}
.fil-content{
    display: flex;
    border-radius: 50px;
    padding-left: 50px;
}
.fil-space :hover{
    scale: 1;
    background-color: #0a1958;
}
.description{
    padding-left: 50px;
}
.Heb-Pop{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
}
.Heb{
    width: 61%;
    /* height: 55%; */
    padding-left: 25px;
    background-color: #bac5cc50;
    border-radius : 30px
}
.title-box{
    padding-left: 18px;
}
.box-heb{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 97%;
}
.heb-image{
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius :30px;
    width: 100%;
    height: 100px;
}
.title-card{
    font-size: 20px;
}
.subtitle-card{
    font-size: 14px;
}
.heb-cadre{
    padding: 5px;
    border-radius : 30px;
    background-color: #fff;
    width: 30%;
    margin-top: 30px;
}


.Pop{
    width: 35%;
    background-color: #bac5cc50;;
    border-radius: 30px;
    padding-left: 2px;
}
.title-box-pop{
    margin: 30px;
}
.title-card-pop{
    font-size: 16px;
}
.box-pop{
    display: flex;
    flex-flow: wrap;
}
.euro{
    font-weight: 700;
}                                                                                           
.cadre-pop{
   display: flex;
   background-color: #fff;
   border-radius: 20px;
   width: 90%;
   margin: 19px;
}
.pop-content{
    display: flex;
    flex-direction:column;
}
.image-pop{
    width: 25%;
    height: 137px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 5px;
    object-fit: cover;
}
.act-box{
    padding-bottom: 78px;
    width: 96%;
}
.act-title{
    padding-left: 62px;
}
.act-box-image{
    display: flex;
    align-items: center;
}
.act-cadre{
    display: flex;
    flex-flow: column;
    box-shadow: 2px 2px #f2f2f2;
    padding-left: 62px;
    width: 46%;
    height: 100px;
    justify-content: space-between;
    margin-bottom: 2px;
}
.act-image{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 82%;
    height: 100px;
    object-fit: cover;
}
footer{
    background-color: #6a6c7427;
    padding-left: 50px;
    margin-left: 45px;
    width: 90%;
}
.box-footer{
    display: flex;
    
    padding-top: 10px;
}
.propos{
    width: 34%;
}

